<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>NewsPaperProject</title>
   <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" type="text/css">
   <link rel="stylesheet" href="{% static 'assets/font/css/font-awesome.min.css' %}" type="text/css">
   <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" type="text/css">
</head>

<body>
   <div class="container">
      <div class="col-md-12">
         <div class="top-sign">
            <ul>
               <li> {{time}} - {{date}}</li>
               <li>{% if user %}<a href="/logout">Log Out</a>{% else %}<a href="/login">Sign In or Register</a>{% endif %}</li>
            </ul>
         </div>
         <div class="top-sicon">
            <ul>
               <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
               <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
               <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
               <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
               <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
               <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
               <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
            </ul>
         </div>
         <!--  /top sicon  -->
         <div class="top-header">
            <a class="logo" href="/">NEWS<span>PAPER</span></a>
         </div>
      </div>
   </div>
   <nav class="navbar navbar-inverse navbar-default">
      <div class="container">
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" data-hover="dropdown"
            data-animations="fadeIn fadeInLeft fadeInUp fadeInRight">
            <ul class="nav navbar-nav">
               <li>
                  <a href="/latest/Technology"><span>Technology</span></a>
               </li>
               <li>
                  <a href="/latest/Company"><span>Company</span></a>
               </li>
               <li>
                  <a href="/latest/Job"><span>Job</span></a>
               </li>
               <li class="dropdown">
                  <a href="/latest/Excursion"><span>Excursion</span></a>
               </li>
               <li>
                  <a href="/latest/Business"><span>Business</span></a>
               </li>
               <li>
                  <a href="/latest/Symposium"><span>Symposium</span></a>
               </li>
               {% if user.is_superuser %}
               <li>
                  <a href="/postcreate/"><span>Create Post</span></a>
               </li>
               {% endif %}
            </ul>
         </div>
      </div>
   </nav>
   <section>
      <div class="container">
         <div class="col-sm-8 col-md-8">
            <div class="title">
               <h2>Latest News</h2>
               <ul>
                  <li><a href="/latest/">All</a></li>
                  <li><a href="/latest/Technology">Technology</a></li>
                  <li><a href="/latest/Company">Company</a></li>
                  <li><a href="/latest/Job">Job</a></li>
                  <li><a href="/latest/Excursion">Excursion</a></li>
                  <li><a href="/latest/Business">Business</a></li>
                  <li><a href="/latest/Symposium">Symposium</a></li>
               </ul>
            </div>
            <div class="col-sm-6 col-md-6 pad">
               <div class="blog-content">
                  <img src="/media/{{ news_latest.photo }}/" alt="lnimgebig" width="370" height="279" />
                  <div class="blog-text">
                     <div class="subject">{{news_latest.tag.name}}</div>
                     <h3><a href="/post{{ news_latest.id }}">{{news_latest.title}}</a></h3>
                     <span class="post-date">Posted On {{news_latest.date|date}}</span>
                     <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i>
                        {{news_latest_comments}}</span>
                     <p>{{news_latest.paragraph1|truncatechars:260}}</p>
                  </div>
               </div>
            </div>
            <div class="col-sm-6 col-md-6">
               {% for new in news %}
               <div class="weghiet">
                  <div class="col-sm-4 col-md-4 pad">
                     <img src="/media/{{ new.photo }}/" alt="inimgsmall" width="100" height="70" />
                  </div>
                  <div class="col-sm-8 col-md-8 pad">
                     <h4><a href="/post{{ new.id }}">{{new.title}}</a></h4>
                     <span class="post-date">Posted On {{new.date|date}}</span>
                     <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> {{new.num}}</span>
                  </div>
               </div>
               {% endfor %}
            </div>
            <section class="life-style-post">
               <div class="title">
                  <h2>Business</h2>
               </div>
               <div>
                  <div>
                     {% for bus in bus_news1 %}
                     <div class="life-style-post-text">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="/media/{{ bus.photo }}/" alt="inimgsmall" width="243" height="173" />
                        </div>
                        <div class="col-sm-8 col-md-8">
                           <div class="blog-text">
                              <h3><a href="/post{{ bus.id }}">{{bus.title}}</a></h3>
                              <span class="post-date">Posted On {{bus.date|date}}</span>
                              <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i>
                                 {{bus.com}}</span>
                              <p>
                                 {{bus.paragraph1|truncatechars:260}}
                              </p>
                           </div>
                        </div>
                     </div>
                     {% endfor %}
                  </div>
                  <div>
                     {% for bus in bus_news2 %}
                     <div class="life-style-post-text">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="/media/{{ bus.photo }}/" alt="inimgsmall" width="243" height="173" />
                        </div>
                        <div class="col-sm-8 col-md-8">
                           <div class="blog-text">
                              <h3><a href="/post{{ bus.id }}">{{bus.title}}</a></h3>
                              <span class="post-date">Posted On {{bus.date|date}}</span>
                              <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i>
                                 {{bus.com}}</span>
                              <p>
                                 {{bus.paragraph1|truncatechars:260}}
                              </p>
                           </div>
                        </div>
                     </div>
                     {% endfor %}
                  </div>
               </div>
            </section>
         </div>
         <div class="col-sm-4 col-md-4">
            <section class="most-popular">
               <div class="title">
                  <h2>MOST POPULAR</h2>
               </div>
               <div>
                  <div>
                     {% for pop in pop_news %}
                     <div class="weghiet">
                        <div class="col-sm-4 col-md-4 pad">
                           <img src="/media/{{ pop.photo }}/" width="100" height="70" />
                        </div>
                        <div class="col-sm-8 col-md-8 pad">
                           <h4><a href="/post{{ pop.id }}">{{pop.title}}</a></h4>
                           <span class="post-date">Posted On {{pop.date|date}}</span>
                           <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i>
                              {{pop.com}}</span>
                        </div>
                     </div>
                     {% endfor %}
                  </div>
               </div>
            </section>
            <section class="recent-comments">
               <div class="title">
                  <h2>RECENT COMMENTS</h2>
               </div>
               <div>
                  {% for com in new_com %}
                  <div class="weghiet">
                     <div class="col-md-12 pad">
                        <strong>{{com.user.name}}</strong> on {{com.post.title}}.
                     </div>
                  </div>
                  {% endfor %}
               </div>
            </section>
         </div>
      </div>
   </section>
   <section>
      <div class="container">
         <div class="col-sm-4 col-md-4">
            <div class="title">
               <h2>COMPANY</h2>
            </div>
            <div>

               {% for comp in comp_news %}
               <div class="weghiet">
                  <div class="col-sm-4 col-md-4 pad">
                     <img src="/media/{{ comp.photo }}/" width="100" height="70" />
                  </div>
                  <div class="col-sm-8 col-md-8 pad">
                     <h4><a href="/post{{ comp.id }}">{{comp.title}}</a></h4>
                     <span class="post-date">Posted On {{comp.date|date}}</span>
                     <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> {{comp.com}}</span>
                  </div>
               </div>
               {% endfor %}

            </div>
         </div>
         <div class="col-sm-4 col-md-4">
            <div class="title">
               <h2>JOB</h2>
            </div>
            <div>
               {% for job in job_news %}
               <div class="weghiet">
                  <div class="col-sm-4 col-md-4 pad">
                     <img src="/media/{{ job.photo }}/" width="100" height="70" />
                  </div>
                  <div class="col-sm-8 col-md-8 pad">
                     <h4><a href="/post{{ job.id }}">{{job.title}}</a></h4>
                     <span class="post-date">Posted On {{job.date|date}}</span>
                     <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> {{job.com}}</span>
                  </div>
               </div>
               {% endfor %}
            </div>
         </div>
         <div class="col-sm-4 col-md-4">
            <div class="title">
               <h2>EXCURSION</h2>
            </div>
            <div>
               {% for ex in ex_news %}
               <div class="weghiet">
                  <div class="col-sm-4 col-md-4 pad">
                     <img src="/media/{{ ex.photo }}/" width="100" height="70" />
                  </div>
                  <div class="col-sm-8 col-md-8 pad">
                     <h4><a href="/post{{ ex.id }}">{{ex.title}}</a></h4>
                     <span class="post-date">Posted On {{ex.date|date}}</span>
                     <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> {{ex.com}}</span>
                  </div>
               </div>
               {% endfor %}
            </div>
         </div>
      </div>
   </section>
   <footer>
      <div class="container">
         <div class="col-sm-4 col-md-4">
            <a class="logo" href="#">NEWS<span>PAPER</span></a>
            <p>NEWS PAPER is your news, entertainment, music fashion website. We provide you with the latest breaking
               news and videos straight from the
               entertainment industry.
            </p>
         </div>
         <div class="col-sm-4 col-md-4">
            <div class="col-sm-6 col-md-6 catf">
               <h2>About Us</h2>
               <ul>
                  <li><a href="#">History</a></li>
                  <li><a href="#">Our Team</a></li>
                  <li><a href="#">Awards</a></li>
                  <li><a href="#">Safety</a></li>
                  <li><a href="#">Careers</a></li>
               </ul>
            </div>
            <div class="col-sm-6 col-md-6 catf">
               <h2>Category</h2>
               <ul>
                  <li>
                     <a href="/latest/Technology"><span>Technology</span></a>
                  </li>
                  <li>
                     <a href="/latest/Company"><span>Company</span></a>
                  </li>
                  <li>
                     <a href="/latest/Job"><span>Job</span></a>
                  </li>
                  <li class="dropdown">
                     <a href="/latest/Excursion"><span>Excursion</span></a>
                  </li>
                  <li>
                     <a href="/latest/Business"><span>Business</span></a>
                  </li>
               </ul>
            </div>
         </div>
         <div class="col-sm-4 col-md-4 catf">
            <h2>Recent Posts</h2>
            {% for rec in rec_news %}
            <div class="weghiet">
               <div class="col-sm-4 col-md-4 pad">
                  <img src="/media/{{ rec.photo }}/" width="70" height="70" />
               </div>
               <div class="col-sm-8 col-md-8 pad">
                  <h4><a href="/post{{ rec.id }}">{{rec.title}}</a></h4>
                  <span class="post-date">Posted On {{rec.date|date}}</span>
                  <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> {{rec.com}}</span>
               </div>
            </div>
            {% endfor %}
         </div>
      </div>
   </footer>
</body>

</html>