<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>NewsPaperProject</title>
   <!-- Standard -->
   <link rel="shortcut icon" href="{% static 'assets/img/ficon.png' %}" type="text/css">
   <!-- Latest Bootstrap min CSS -->
   <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" type="text/css">
   <!-- Dropdownhover CSS -->
   <link rel="stylesheet" href="{% static 'assets/css/bootstrap-dropdownhover.min.css' %}" type="text/css">
   <!-- latest fonts awesome -->
   <link rel="stylesheet" href="{% static 'assets/font/css/font-awesome.min.css' %}" type="text/css">
   <!-- Animate CSS -->
   <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}" type="text/css">
   <!-- Style CSS -->
   <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" type="text/css">
   <!--  baguetteBox -->
   <link rel="stylesheet" href="{% static 'assets/css/baguetteBox.css' %}" type="text/css">
   <!-- Owl Carousel Assets -->
   <link href="{% static 'assets/owl-carousel/owl.carousel.css' %}" rel="stylesheet" type="text/css">
   <link href="{% static 'assets/owl-carousel/owl.theme.css' %}" rel="stylesheet" type="text/css">
   <link href="{% static 'assets/css/form.css' %}" rel="stylesheet" type="text/css">
   <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
   <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
   <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
</head>

<body>
   <div class="container">
      <div class="col-md-12">
         <!--  top sign  -->
         <div class="top-sign">
            <ul>
               <li> {{time}} - {{date}}</li>
               <li> <a href="#">Subscribe</a> | <a href="#">Sign In</a></li>
            </ul>
         </div>
         <!--  top sicon  -->
         <div class="top-sicon">
            <ul>
               <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
               <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
               <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
               <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
               <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
               <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
               <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
            </ul>
         </div>
         <!--  top header  -->
         <div class="top-header">
            <a class="logo" href="/">NEWS<span>PAPER</span></a>
         </div>
      </div>
   </div>
   <!--  nav  -->
   <nav class="navbar navbar-inverse navbar-default">
      <div class="container">
         <!-- Brand and toggle get grouped for better mobile display -->
         <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
               data-target="#bs-example-navbar-collapse-1">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
         </div>
         <!-- Collect the nav links, forms, and other content for toggling -->
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" data-hover="dropdown"
            data-animations="fadeIn fadeInLeft fadeInUp fadeInRight">
            <ul class="nav navbar-nav">
               <li>
                  <a href=""><span>technology</span></a>
               </li>
               <li>
                  <a href=""><span>company</span></a>
               </li>
               <li>
                  <a href=""><span>job</span></a>
               </li>
               <li class="dropdown">
                  <a href=""><span>excursion</span></a>
               </li>
               <li>
                  <a href=""><span>business</span></a>
               </li>
               <li>
                  <a href=""><span>symposium</span></a>
               </li>
            </ul>
            <div class="searchicon">
               <a class="fac" data-toggle="modal" data-target=".bs-example-modal-lg"><i
                     class="fa fa-search search-icon"></i></a>
               <!-- search popup -->
               <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
                  aria-labelledby="myLargeModalLabel">
                  <div class="modal-dialog modal-lg" role="document">
                     <div class="modal-content">
                        <div class="modal-header">
                           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                 aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="search-outer">
                           <div class="col-md-11"><input type="text" placeholder="Search for products..." /></div>
                           <div class="col-md-1 text-right"><a href="#"><img
                                    src="{% static 'assets/img/search-icon.png' %}" alt="search-icon" /></a></div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- search popup -->
            </div>
            <!-- /.navbar-collapse -->
         </div>
         <!-- /.container-fluid -->
      </div>
   </nav>
   <form action="/postcreate/" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <header class="inner-header">
         <div class="container">
            <div class="col-sm-6 col-md-6">
               {{ form.title }}
               {{ form.tag }}
            </div>
         </div>
      </header>
      <section>
         <div class="container">
            <!-- .left content -->
            <div class="col-sm-8 col-md-8">
               <div class="col-md-12">
                  <div class="row">
                     <div class="col-md-12 pad" data-category="1, 5" data-sort="Busy streets">
                        <!-- .grid -->
                        <div class="life-style-post-text grid2">
                           <div class="drag-area">
                              <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
                              <header>Upload File</header>
                              {{ form.photo }}
                           </div>
                           <div class="col-md-12 pad">
                              <!-- .blog-text -->
                              <div class="blog-text-post">
                                 {{form.paragraph1}}
                                 {{form.paragraph1}}
                                 <input type="submit" class="btn-primary">
                              </div>
                              <!-- /.blog-text -->
                           </div>
                        </div>
                        <!-- /.grid -->
                     </div>
                  </div>
               </div>
            </div>
            <!-- /.left content -->
            <!-- .right content -->
            <div class="col-sm-4 col-md-4">
               <section class="most-popular">
                  <!-- .title -->
                  <div class="title">
                     <h2>MOST POPULAR</h2>
                  </div>
                  <!-- /.title -->
                  <!-- .most-popular-carousel -->
                  <div class="owl-carousel owl-theme carousel">
                     <div>

                        {% for pop in pop_news %}
                        <div class="weghiet">
                           <div class="col-sm-4 col-md-4 pad">
                              <img src="/media/{{ pop.photo }}/" width="100" height="70" />
                           </div>
                           <div class="col-sm-8 col-md-8 pad">
                              <h4><a href="/post{{ pop.id }}">{{pop.title}}</a></h4>
                              <span class="post-date">Posted On {{pop.date|date}}</span>
                              <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i>
                                 {{pop.com}}</span>
                           </div>
                        </div>
                        {% endfor %}

                     </div>
                  </div>
                  <!-- /.most-popular-carousel -->
               </section>
               <section class="recent-comments">
                  <!-- .title -->
                  <div class="title">
                     <h2>RECENT COMMENTS</h2>
                  </div>
                  <!-- /.title -->
                  <!-- .recent-comments-carousel -->
                  <div class="owl-carousel owl-theme carousel">
                     <div>

                        {% for com in new_com %}
                        <div class="weghiet">
                           <div class="col-md-12 pad">
                              <strong>{{com.user.username}}</strong> on {{com.post.title}}.
                           </div>
                        </div>
                        {% endfor %}

                     </div>
                  </div>
                  <!-- /.latest-reviews-carousel -->
               </section>
            </div>
            <!-- /.right content -->
         </div>
      </section>
   </form>
   <footer>
      <div class="container">
         <div class="col-sm-4 col-md-4">
            <a class="logo" href="#">NEWS<span>PAPER</span></a>
            <p>NEWS PAPER is your news, entertainment, music fashion website. We provide you with the latest breaking
               news and videos straight from the
               entertainment industry.
            </p>
            <div class="newslater">
               <input name="email" placeholder="Your email" type="text" />
               <button><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
            </div>
         </div>
         <div class="col-sm-4 col-md-4">
            <div class="col-sm-6 col-md-6 catf">
               <h2>About Us</h2>
               <ul>
                  <li><a href="#">History</a></li>
                  <li><a href="#">Our Team</a></li>
                  <li><a href="#">Awards</a></li>
                  <li><a href="#">Safety</a></li>
                  <li><a href="#">Careers</a></li>
               </ul>
            </div>
            <div class="col-sm-6 col-md-6 catf">
               <h2>Category</h2>
               <ul>
                  <li><a href="#">Life Style</a></li>
                  <li><a href="#">Tech</a></li>
                  <li><a href="#">Sports</a></li>
                  <li><a href="#">Entertainment</a></li>
                  <li><a href="#">Travel</a></li>
               </ul>
            </div>
         </div>
         <div class="col-sm-4 col-md-4 catf">
            <h2>Recent Posts</h2>
            {% for rec in rec_news %}
            <div class="weghiet">
               <div class="col-sm-4 col-md-4 pad">
                  <img src="/media/{{ rec.photo }}/" width="70" height="70" />
               </div>
               <div class="col-sm-8 col-md-8 pad">
                  <h4><a href="/post{{ rec.id }}">{{rec.title}}</a></h4>
                  <span class="post-date">Posted On {{rec.date|date}}</span>
                  <span class="post-comment"><i class="fa fa-comments-o" aria-hidden="true"></i> {{rec.com}}</span>
               </div>
            </div>
            {% endfor %}
         </div>
      </div>
   </footer>
</body>

</html>